<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>searchpage</key>
    <dict>
        <key>searchbarbg</key>
        <string>#232326</string>
        <key>bg</key>
        <string>#111111</string>
    </dict>
    <key>gradient</key>
    <dict>
        <key>japanAccount</key>
        <array>
            <string>#00b595</string>
            <string>#00b595</string>
        </array>
        <key>assetsHeader</key>
        <array>
            <string>#00b595</string>
            <string>#02CDA9</string>
        </array>
    </dict>
    <key>redpacket</key>
    <dict>
        <key>normalRed</key>
        <string>#EB3A54</string>
        <key>text</key>
        <string>#F3CA92</string>
    </dict>
    <key>textfield</key>
    <dict>
        <key>seperator</key>
        <string>#232326</string>
    </dict>
    <key>pagecontrol</key>
    <dict>
        <key>select</key>
        <string>#D8E1F0</string>
        <key>unselect</key>
        <string>#232326</string>
        <key>bannerSelect</key>
        <string>#D8E1F0</string>
        <key>bannerUnselect</key>
        <string>#5D6D89</string>
    </dict>
    <key>label</key>
    <dict>
        <key>share</key>
        <string>#E5D2AC</string>
        <key>colorLite</key>
        <string>#FFFFFF</string>
        <key>colorMedium</key>
        <string>#909399</string>
        <key>colorDark</key>
        <string>#505255</string>
        <key>colorHighlight</key>
        <string>#00b595</string>
        <key>white</key>
        <string>#FFFFFF</string>
    </dict>
    <key>btn</key>
    <dict>
        <key>touch</key>
        <string>#4E5A6D</string>
        <key>touch2</key>
        <string>#39393C</string>
        <key>normal</key>
        <string>#313E55</string>
        <key>disable</key>
        <string>#39393C</string>
        <key>highlight</key>
        <string>#00b595</string>
        <key>highlight30</key>
        <string>#0dcb81</string>
        <key>title</key>
        <string>#FFFFFF</string>
    </dict>
    <key>nav</key>
    <dict>
        <key>bg</key>
        <string>#010101</string>
    </dict>
    <key>tab</key>
    <dict>
        <key>bg</key>
        <string>#1A1A1A</string>
        <key>icon</key>
        <string>#232326</string>
    </dict>
    <key>view</key>
    <dict>
        <key>midbg</key>
        <string>#010101</string>
        <key>yellow</key>
        <string>#F7B500</string>
        <key>card2</key>
        <string>#232326</string>
        <key>card1</key>
        <string>#111111</string>
        <key>alertBg</key>
        <string>#171717</string>
        <key>markBg</key>
        <string>#1A1A1A</string>
        <key>mask</key>
        <string>#080808</string>
        <key>toast</key>
        <string>#303133</string>
        <key>highlight</key>
        <string>#00b595</string>
        <key>highlight50</key>
        <string>#802B61FF</string>
        <key>highlight25</key>
        <string>#402B61FF</string>
        <key>highlight15</key>
        <string>#00b595FF</string>
        <key>bg</key>
        <string>#111111</string>
        <key>newbg</key>
        <string>#010101</string>
        <key>bgIcon</key>
        <string>#232326</string>
        <key>bgIcon50</key>
        <string>#80232326</string>
        <key>bgIcon25</key>
        <string>#40232326</string>
        <key>bgIconh</key>
        <string>#232326</string>
        <key>bgIconh50</key>
        <string>#80232326</string>
        <key>bgGap</key>
        <string>#0D1D26</string>
        <key>bgTab</key>
        <string>#F21A1A1A</string>
        <key>seperator</key>
        <string>#282828</string>
        <key>border</key>
        <string>#232326</string>
        <key>bgCard</key>
        <string>#FFFFFF</string>
        <key>mySign</key>
        <string>#232326</string>
        <key>alertImage</key>
        <string>#0F192A</string>
        <key>badge5</key>
        <string>#577fdacaBFF9</string>
        <key>badge10</key>
        <string>#C72A29</string>
    </dict>
    <key>state</key>
    <dict>
        <key>normal</key>
        <string>#303133</string>
        <key>normal80</key>
        <string>#CC303133</string>
        <key>success</key>
        <string>#00B595</string>
        <key>success80</key>
        <string>#CC00B595</string>
        <key>fail</key>
        <string>#D1425E</string>
        <key>fail80</key>
        <string>#CCD1425E</string>
        <key>warning</key>
        <string>#E9A92A</string>
        <key>warning80</key>
        <string>#CCEDBB7A</string>
    </dict>
    <key>kline</key>
    <dict>
        <key>up</key>
        <string>#00B595</string>
        <key>up15</key>
        <string>#2600B595</string>
        <key>down</key>
        <string>#D1425E</string>
        <key>down15</key>
        <string>#26D1425E</string>
        <key>yellow</key>
        <string>#F5CB89</string>
        <key>green</key>
        <string>#5FCFBF</string>
        <key>purple</key>
        <string>#DD89F5</string>
        <key>pink</key>
        <string>#E9A991</string>
        <key>tagbg</key>
        <string>#F21A1A1A</string>
        <key>seperator</key>
        <string>#D8D8D8</string>
        <key>labelcolorLite</key>
        <string>#FFFFFF</string>
        <key>labelcolorMedium</key>
        <string>#909399</string>
        <key>labelcolorDark</key>
        <string>#505255</string>
        <key>labelwhite</key>
        <string>#FFFFFF</string>
        <key>labelcolorHighlight</key>
        <string>#00B595</string>
        <key>viewhighlight</key>
        <string>#00B595</string>
        <key>viewbg</key>
        <string>#111111</string>
        <key>viewseperator</key>
        <string>#F21A1A1A</string>
        <key>viewbgTab</key>
        <string>#F21A1A1A</string>
        <key>viewbgGap</key>
        <string>#0D1D26</string>
        <key>viewhighlight50</key>
        <string>#802B61FF</string>
        <key>viewbgIcon</key>
        <string>#232326</string>
        <key>viewbgIcon25</key>
        <string>#40232326</string>
        <key>viewborder</key>
        <string>#232326</string>
        <key>navbg</key>
        <string>#010101</string>
        <key>btnhighlight</key>
        <string>#00B595</string>
    </dict>
</dict>
</plist>
